.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.card-container {
    overflow: hidden;
    width: calc(300px * 3); /* Adjust this to show the number of cards you want at once */
    position: relative;
}

.card-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    min-width: 300px; /* Adjust this to your card width */
    margin: 0 10px; /* Adjust for spacing between cards */
}

.slider-button {
    background-color: #ebebeb;

    border: none;
    border-radius: 50%;
    color: white;
    height: 60px;
    width: 60px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s;
}

.slider-button.disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none; /* interdire le clic */
}
@media (min-width: 2200px) {
    .card-container {
        width: calc(365px * 6 + 40px); /* Show 6 cards */
    }
}
@media (max-width: 2200px) {
    .card-container {
        width: calc(365px * 5 + 40px); /* Show 5 cards */
    }
}
@media (max-width: 2000px) {
    .card-container {
        width: calc(360px * 4 + 40px); /* Show 4 cards */
    }
}
@media (max-width: 1500px) {
    .card-container {
        width: calc(360px * 3 + 40px); /* Show 3 cards */
    }
}
@media (max-width: 1200px) {
    .card-container {
        width: calc(350px * 2 + 40px); /* Show 2 cards */
    }
}

@media (max-width: 853px) {
    .card-container {
        width: calc(325px * 1 + 40px); /* Show 1 card */
    }
}
@media (max-width: 600px) {
    .card{
        min-width: 100px; /* Adjust this to your card width */
    }
}