.pageerreur {
    background-color: rgb(230, 250, 255);
    height: 100vh;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.phrase {
    padding: 30px;
}

.boutonretour {
    text-decoration: none;
    color : rgb(3, 21, 213);
    border: solid 2px blue;
    transition: 0.2s ;
    padding: 10px;
}
.boutonretour:hover {
    background-color: rgb(46, 105, 255);
    padding: 10px;
     color: white;
}