.arc-background {
    background-color: white;
    min-height: 256vh;
    padding-bottom: 2vh; /* Add some padding to the bottom */
}

.espaceheader {
    height: 18vh;
}

.nosservicesheader {
    font-size: 50px;
    height: 12vh;
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
}

.pagesecurite {
    height: 61vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh; /* Add margin to the bottom */
}

.divsecu {
    background-image: url('../../images/pexels-pixabay-269323.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
}

.pagesecuriteinterieur {
    height: 95%;
    width: 99.2%;
}

.titresecurite {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descritionsecurite {
    height: 18vh;
    width: 99.2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secu {
    width: 20%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    border-radius: 20px;
    background-color: white;
}

.pagenouveauxservices {
    height: auto; /* Change height to auto to fit content */
}

.ligne {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    margin-bottom: 3vh; /* Add margin to the bottom */
}.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 49%;
    border-radius: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-image: inherit; /* Utiliser l'image de fond définie dans le style */
    transition: background-color 0.3s ease-in-out; /* Transitions pour les changements de couleur de fond */
}

.service::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Superposition blanche semi-transparente */
    opacity: 0; /* Opacité normale par défaut */
    transition: opacity 0.3s ease-in-out;
    z-index: 1; /* Assurer que c'est au-dessus de l'image mais en dessous du texte */
}

.service:hover::after {
    opacity: 1; /* Augmenter l'opacité au survol */
}

.service .fondtexte {
    background-color: rgba(255, 255, 255, 0.862);
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    z-index: 2; /* Assurer que le texte est au-dessus de la superposition */
    opacity: 0; /* Texte caché par défaut */
    transition: opacity 0.3s ease-in-out;
}

.service:hover .fondtexte {
    opacity: 1; /* Montrer le texte au survol */
}

.service .titreligne {
    font-size: 30px;
}

.service .descriptionligne {
    font-size: 22px;
    width: 30vw;
    text-align: justify;
}

@media (max-width: 1000px) {
    .service .titreligne {
        font-size: 15px;
    }
    .service .descriptionligne, .descritionsecurite {
        font-size: 10px;
    }
}

@media (max-height: 400px) {
    .service .descriptionligne, .descritionsecurite {
        display: none;
    }
}

@media (max-width: 300px) {
    .ligne {
        flex-wrap: wrap;
    }
}
